@mixin b_64($val) {
  background-image: url($val);
}

@mixin base_64($val) {
  background-image: url('data:image/png;base64,' + $val);
}

@mixin base_64_important($val) {
  background-image: url('data:image/png;base64,' + $val) !important;
}

@mixin pl_color($color) {
  &::-webkit-input-placeholder {
    color: $color;
  } 
  &::-moz-placeholder {
    color: $color;
  }
}